body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #ffffff, #fdf6f0, #f5efe6); 
  color: #4b4b4b; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
  color: #4b4b4b;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.05); 
}


.nav-menu {
  list-style: none;
  display: flex;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  background: rgba(253, 246, 240, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 12px;
  padding: 12px 24px;
  font-size: 1.3rem;
  font-family: 'Courier New', monospace; 
  font-weight: 500;
  color: #4b4b4b; 
  transition: all 0.3s ease;
}

.nav-menu li:hover {
  background: rgba(245, 230, 210, 0.9);
  color: #1a1a1a;
  transform: scale(1.05);
}

.nav-menu a {
  color: inherit;
  text-decoration: none;
}

/* === FOOTER === */
footer {
  text-align: center;
  padding: 1rem;
  background-color: rgba(253, 246, 240, 0.7); /* crema semi-transparent */
  font-size: 0.9rem;
  color: #4b4b4b; /* gris només per al text */
  backdrop-filter: blur(5px);
}